<table mat-table [dataSource]="dataSource()" class="mat-elevation-z8 demo-table">
  @for (column of columns(); track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row">
        @if (column.type === 'date') {
          <span>{{ column.cell(row) | date:'yyyy/MM/dd' }}</span>
        } @else if (column.type === 'number') {
          <span>{{ column.cell(row) | currency }}</span>
        } @else if (column.type === 'template') {
          <ng-container *ngTemplateOutlet="actionTemplate; context: { row: row }"></ng-container>
        } @else {
          <span>{{ column.cell(row) }}</span>
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>

<ng-template #actionTemplate let-row>
  <button mat-icon-button (click)="edit(row)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="delete(row)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
