
html, body {
  //height: 100%;
  //margin: 0;
  //padding: 0;
  font-family: yekan, serif;

}

body {
  //margin: 0;

  //background: var(--mat-sys-surface);
  //color: var(--mat-sys-on-surface);
}


@font-face {
  font-family: 'yekan';
  src: url('/fonts/BYekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('/fonts/BYekan+Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


